@media(max-width: 960px){
    
}
@media(max-width: 960px){
.sub-container2{
    display: grid;
    grid-template-columns: 1fr;
}
}
@media(max-width: 780px){
    .sub-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .sub-container img{
        margin: auto; 
    }
}